<h2>Profile</h2>
<div *ngIf="user">
  <p>
    <strong>Name:</strong>
    <input placeholder="Name" type="text" [(ngModel)]="user.user.name">
  </p>
  <p>
    <strong>Email:</strong>
    <input placeholder="Email" type="text" [(ngModel)]="user.user.email">
  </p>
  <p>
    <strong>Password:</strong>
    <input placeholder="Password" type="password" [(ngModel)]="user.user.password">
  </p>

  <button (click)="logout()">Logout</button>
  <button (click)="update()">Update</button>
  <button (click)="delete()">Delete</button>
</div>
