body {
    font-family: Arial, sans-serif;
}

#wrapper {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
}

#content {
    margin-left: 250px;
    width: 100%;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
